/* GENERAL */
header {
    background-color: black;
}
#montagnes_admin {
    width: 100%;
}
#bienvenue {
    text-align: center;
    padding: 50px;
    /* font-size: 18px; */
}
#bienvenue h1 strong {
    font-style: italic;
}
#menu_admin {
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.1);
    height: 50px;
}
header nav ul{
    display: flex;
    margin: auto;
    padding-top: 13px;
}
header nav ul li {
    margin: auto;
}
#boutonDeconnect {
    float: right;
    margin-top: 25px;
    margin-right: 15%;
    background-color: white;
    color: #000000;
    padding: 8px 14px;
    border-width: 0px;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 13px;
}
/* NOUVEAU BILLET */
#newBillet {
    margin: 50px 0 25px 0;
}
#inputTitre, #inputDate{
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 25px;
    margin-bottom: 20px;
}
#inputTitre {
    width: 60%;
}
#newBillet, label{
    font-weight: 500;
    padding-right: 20px;
}
#newBillet textarea {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    margin-bottom: 15px;
}
#boutonPublier {
    background-color: rgba(0, 0, 0, 0.95);
    color: #ffffff;
    padding: 10px 30px;
    border-width: 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}
/* MES BILLETS / CHAPITRES */
#sectionBillets {
    margin: 50px 0 25px 0;
}
#sectionBillets a {
    text-decoration: none;
}
.derniersBillets {
    width: 60%;
    opacity: 95%;
    margin: auto;
    margin-bottom: 10px;
    background-image: url('../images/chapter_background.jpg');
    background-size: contain;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}
.derniersBillets h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
}
.derniersBillets a {
    color: white;
}
/* PAGE MODIFICATION DE BILLET */
.modifier {
    text-align: center;
}
.modifier h1 {
    padding: 50px;
}
.zoneTexte {
    width: 70%;
}
#boutons {
    display: flex;
    justify-content: space-around;
}
#boutonSupprimer {
    background-color: rgba(0, 0, 0, 0.95);
    color: #ffffff;
    padding: 10px 30px;
    border-width: 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}
/* PAGE COMMENTAIRES */
#sectionCommentaires {
    border-bottom: 1px, solid, black;
}
#sectionCommentaires h1 {
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px 5px 0 0;
    padding: 10px 30px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
    border-top: 1px solid black;
}
#signComment, #otherComment {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}
#infosComment {
    display: flex;
    justify-content: center;
}
.row {
    margin-right: -50px;
    margin-left: -50px;
}
#signComment a {
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}
/* PAGE MODIFICATION DE COMMENTAIRES */
.twoCols {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modifier .twoCols.top {
    margin-bottom: 20px;
    font-size: 18px;
}
.twoCols.bottom {
    margin-top: 20px;
}