/* HEADER */
header {
    background-color: black;
}
#mountains_admin {
    width: 100%;
}
#welcome {
    padding: 50px;
}
#welcome h1 strong {
    font-style: italic;
}
#disconnectButton, #returnButton {
    text-decoration: none;
    margin-top: 25px;
    background-color: white;
    border-radius: 5px;
    border-width: 0px;
    color: #000000;
    padding: 8px 14px;
    font-size: 13px;
    font-weight: bold;
}
#disconnectButton {
    float: right;
    margin-right: 15%;
}
#returnButton {
    float: left;
    margin-left: 15%;
}
/* TABS */
.tab-content {
    border: 2px solid rgba(0, 0, 0, 0.95);
}
a.nav-item.nav-link{
    color: rgba(0, 0, 0, 0.95);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px, 5px, 0 0;
    border: none;
    font-size: 22px;
}
.nav-tabs a.nav-item.nav-link.active {
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
    border: none;
}
/* "NOUVEAU BILLET" */
#inputTitle, #inputDate, #inputChapter{
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 25px;
}
#inputTitle {
    width: 60%;
}
label{
    font-weight: 500;
    padding-right: 20px;
}
/* "MES BILLETS" */
#postSection a {
    text-decoration: none;
    color: white;
}
.lastPost {
    width: 60%;
    opacity: 95%;
    background-image: url('../images/chapter_background.jpg');
    background-size: contain;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: block;
}
.lastPost h3 {
    margin-bottom: 0px;
    font-size: 22px;
}
/* EDIT COMMENT PAGE */
#buttons {
    display: flex;
    justify-content: space-around;
}
/* "COMMENTAIRES" */
#commentSection {
    padding-right: 0;
    padding-left: 0;
}
#commentSection h1 {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
}
#h1otherComments {
    border-top: 2px solid black;
}
#reportComment, #unreportComment {
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}
#reportComment a {
    font-size: 12px;
}